<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">

<title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title }}</title>

{% assign description = page.description | default: site.description %}
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}

{% include favicon.html %}
