<div class="content-container details">
    <div class="slider"></div>
    <div class="week-info-container">
        <h4 class="week-number">WEEK 4</h4>
        <h6 class="week-dates">July 29 - Aug 2</h5>
    </div>
    <div class="week-topics-container">
        <article class="week-topic">
            <section>
                <h5 class="week-topic-title">Continue Data Exploration</h5>
            </section>
            <p class="week-topic-blurb">Teams continue to explore available data sets</p>
        </article>
        <article class="week-topic">
            <section>
                <h5 class="week-topic-title">Data Dive Milestone</h5>
                <h6 class="week-topic-date">Aug 1</h6>
            </section>
            <p class="week-topic-blurb">Teams join the virtual milestone to hear from data stewards and  ask questions on available data sets</p>
        </article>
    </div>
</div>